{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Car Sharing</title>
{% endblock %}

{% block homeactive %}
active
{% endblock homeactive %}

{% block content %}
<section id="top-section">
    <div class="top-container">
        <div class="front-section">
            <div class="row">
                <div class="col-lg-6 mx-0" id="frontheading">
                    <h1 class="mt-5">Going Anywhere Is Just A Click Away.</h1>
                    <h3>Save Money,Save Nature.</h3>
                    <a href="{% url 'home:pickRide' %}" class="btn btn-outline-info btn-lg mt-2" type="submit" aria-label="Book your Ride">Book Ride</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <h2 class="text-center pb-4">Why Choose Us?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center feature-box py-3">
                    <i class="featureIcon fas fa-duotone fa-coins fa-4x"></i>
                    <div class="my-4 px-2">
                        <h3 style="font-family: 'Montserrat', sans-serif;">Your pick of rides at low prices.</h3>
                        <p>No matter where you’re going, by bus or carpool, find the perfect ride from our wide range of
                            destinations and routes at low prices.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center feature-box py-3">
                    <i class="featureIcon fas fa-heart fa-4x"></i>
                    <div class="my-4 px-2">
                        <h3 style="font-family: 'Montserrat', sans-serif;">Trust who you travel with.</h3>
                        <p>We take the time to get to know each of our members and bus partners. We check reviews,
                            profiles
                            and
                            IDs,
                            so you know who you’re travelling with and can book your ride at ease on our secure
                            platform..
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center feature-box py-3">
                    <i class="featureIcon fa-solid fa-forward-fast fa-4x"></i>
                    <div class="my-4 px-2">
                        <h3 style="font-family: 'Montserrat', sans-serif;">Scroll, click, tap and go!.</h3>
                        <p>Booking a ride has never been easier! Thanks to our simple app powered by great technology,
                            you
                            can
                            book a ride close to you in just minutes..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="choseRide">
    <div class="container d-block px-0 pb-5">
        <h2 class="pb-3">Pick your Ride</h2>
        <form name="ChooseRideForm" action="{% url 'home:rides' %}" method="post" class=" text-left">
            {% csrf_token %}
            <div class="form-group">
                <label for="leave">From</label>
                <input type="text" class="form-control" id="leave" name="leave" placeholder="Leaving From..."
                    required>
            </div>
            <div class="form-group">
                <label for="arrive">To</label>
                <input type="text" class="form-control" id="arrive" name="arrive" placeholder="Going To..."
                    required>
            </div>
            <div class="form-group">
                <!-- Input field along with
                calendar icon and -->
                <!-- <div class="input-group date "> -->
                    <!-- Sets the calendar icon -->
                    <!-- <span class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar calenderIcon"></i>
                        </span>
                    </span> -->
                    <!-- Accepts the input from calendar -->
                    <label for="date">Date</label>
                    <input class="form-control" type="date" placeholder="Depature date..." name="date">
                <!-- </div> -->
            </div>
            <div class="form-group">

                <label for="number">No. of Passengers</label>
                <div class="input-group number-spinner">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa-solid fa-circle-minus" data-dir="dwn"></i>
                        </span>
                    </span>
                    <input type="number" class="form-control" placeholder="No. of Passengers"
                        autocomplete="off" name="number" oninput="validity.valid||(value='');" min="0" step="1" maxlength="10">
                    <span class="input-group-prepend" data-dir="up">
                        <span class="input-group-text">
                            <i class="fa-solid fa-circle-plus"></i>
                        </span>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-info">Search</button>
        </form>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials">
    <div class="container">

        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <h2 class="pb-4">CarSharing Help Center</h2>
            <div class="carousel-inner my-4">
                <div class="carousel-item active">
                    <h5>How do I book a carpool ride?</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis inventore
                        voluptate
                        reiciendis alias officiis, labore aspernatur necessitatibus dolore? Sit dicta, tempora a
                        nesciunt nam harum sunt pariatur ullam debitis?</p>
                </div>

                <div class="carousel-item">
                    <h5 class="testimonial-text">How do I publish a carpool ride?</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit facere earum, autem beatae
                        maxime
                        itaque, tempore unde repudiandae magnam, cupiditate deserunt! Cupiditate assumenda ex minus
                        quod
                        id sed at nesciunt.</p>
                </div>

                <div class="carousel-item">
                    <h5 class="testimonial-text">How do I cancel my carpool ride?</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid provident reiciendis
                        illum
                        repellendus? Officia, dolorem. Quia necessitatibus eius reiciendis? Et, voluptatibus itaque
                        minus sit optio laudantium iste molestiae voluptatem.</p>
                </div>

                <div class="carousel-item">
                    <h5 class="testimonial-text">What are the benefits of travelling by carpool?</h5>
                    <p>There are multiple advantages to carpooling, over other means of transport. Travelling by
                        carpool
                        is usually more affordable, especially for longer distances. Carpooling is also more
                        eco-friendly, as sharing a car means there will be fewer cars on the road, and therefore
                        fewer
                        emissions. Taking a carpool ride is also a safe way to travel in the current times. Because
                        there are only a few people in a car, you have fewer points of contact and there’s less risk
                        than other travel options. </p>
                </div>

                <div class="carousel-item">
                    <h5 class="testimonial-text">How much does a carpool ride cost? </h5>
                    <p>The costs of a carpool ride can vary greatly, and depend on factors like distance, time of
                        departure, the demand of that ride and more. It is also up to the driver to decide how much
                        to
                        charge per seat, so it’s hard to put an exact price tag on a ride.</p>
                </div>

                <div class="carousel-item">
                    <h5 class="testimonial-text">How do I start carpooling?</h5>
                    <p>Carpooling with CarSharing is super easy, and free! Simply sign up for an account and tell us
                        some
                        basic details about yourself. Once you have a CarSharing account, you can start booking or
                        publishing rides directly on our app or website. </p>
                </div>

                <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon carouselIcon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon carouselIcon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="contact-us" style="background: #fff;">
    <div class="container d-block">
      <h2 class="text-center">Contact Us</h2>
      <form action="{% url 'home:contact' %}" method="POST" class="text-left">
        {% csrf_token %}
        <div class="form-group pt-3">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
            else.</small>
        </div>
  
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="tel" name="phone" class="form-control" id="phone" placeholder="Enter your phone number">
        </div>
  
        <div class="form-group">
          <label for="desc">How may we help you?</label>
          <textarea class="form-control" name="desc" id="desc" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-info">Submit</button>
      </form>
    </div>
  </section>
{% endblock content %}