{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Car Sharing</title>

{% endblock %}

{% block content %}
<section id="top-section">
    <div class="top-container">
        <div class="front-section">
            <div class="row">
                <div class="col-lg-6 mx-0" id="frontheading">
                    <h1 class="mt-5">Going Anywhere Is Just A Click Away.</h1>
                    <h3>Save Money,Save Nature.</h3>
                    <button class="btn btn-outline-info btn-lg mt-2" type="submit">Book Ride</button>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <h2 class="text-center pb-4">Why Choose Us?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center feature-box py-3">
                    <i class="featureIcon fas fa-duotone fa-coins fa-4x"></i>
                    <div class="my-4 px-2">
                        <h3 style="font-family: 'Montserrat', sans-serif;">Your pick of rides at low prices.</h3>
                        <p>No matter where you’re going, by bus or carpool, find the perfect ride from our wide range of
                            destinations and routes at low prices.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center feature-box py-3">
                    <i class="featureIcon fas fa-heart fa-4x"></i>
                    <div class="my-4 px-2">
                        <h3 style="font-family: 'Montserrat', sans-serif;">Trust who you travel with.</h3>
                        <p>We take the time to get to know each of our members and bus partners. We check reviews,
                            profiles
                            and
                            IDs,
                            so you know who you’re travelling with and can book your ride at ease on our secure
                            platform..
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center feature-box py-3">
                    <i class="featureIcon fa-solid fa-forward-fast fa-4x"></i>
                    <div class="my-4 px-2">
                        <h3 style="font-family: 'Montserrat', sans-serif;">Scroll, click, tap and go!.</h3>
                        <p>Booking a ride has never been easier! Thanks to our simple app powered by great technology,
                            you
                            can
                            book a ride close to you in just minutes..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="choseRide">
    <div>
        <h3><strong>Pick Your Ride</strong></h3>
        <form action="{% url 'home:rides' %}" method="POST">
            {% csrf_token %}
            <div class="input-group container">
                <div class="row">
                    <div class="input-group-prepend col-sm form-group">
                        <div class="input-group-text"><i class="fa-solid fa-circle-dot"></i></div>
                        <input type="text" class="form-control" placeholder="Leaving From..." name="leave">
                    </div>
                    <div class="input-group-prepend col-sm form-group">
                        <div class="input-group-text"><i class="fa-solid fa-circle-dot"></i></div>
                        <input type="text" class="form-control" placeholder="Going To..." name="arrive">
                    </div>
                    <div class="form-group col-sm">
                        <!-- Input field along with
                                calendar icon and -->
                        <div class="input-group date ">
                            <!-- Sets the calendar icon -->
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar calenderIcon"></i>
                                </span>
                            </span>
                            <!-- Accepts the input from calendar -->
                            <input class="form-control" type="date" placeholder="Depature date..." name="date">
                        </div>
                    </div>
                    <div class="form-group col-sm">

                        <div class="input-group number-spinner">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-circle-minus" data-dir="dwn"></i>
                                </span>
                            </span>
                            <input type="text" class="form-control text-center" placeholder="No. of Passengers"
                                autocomplete="off" name="number">
                            <span class="input-group-prepend" data-dir="up">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="searchbtn">
                <span class="input-group-btn">
                    <button class="btn btn-search" type="submit"><i class="fa fa-search fa-fw"></i>
                        Search</button>
                </span>
            </div>
        </form>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
        <h2>CarSharing Help Center</h2>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h5>How do I book a carpool ride?</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis inventore
                    voluptate
                    reiciendis alias officiis, labore aspernatur necessitatibus dolore? Sit dicta, tempora a
                    nesciunt nam harum sunt pariatur ullam debitis?</p>
            </div>

            <div class="carousel-item">
                <h5 class="testimonial-text">How do I publish a carpool ride?</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit facere earum, autem beatae
                    maxime
                    itaque, tempore unde repudiandae magnam, cupiditate deserunt! Cupiditate assumenda ex minus
                    quod
                    id sed at nesciunt.</p>
            </div>

            <div class="carousel-item">
                <h5 class="testimonial-text">How do I cancel my carpool ride?</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid provident reiciendis
                    illum
                    repellendus? Officia, dolorem. Quia necessitatibus eius reiciendis? Et, voluptatibus itaque
                    minus sit optio laudantium iste molestiae voluptatem.</p>
            </div>

            <div class="carousel-item">
                <h5 class="testimonial-text">What are the benefits of travelling by carpool?</h5>
                <p>There are multiple advantages to carpooling, over other means of transport. Travelling by
                    carpool
                    is usually more affordable, especially for longer distances. Carpooling is also more
                    eco-friendly, as sharing a car means there will be fewer cars on the road, and therefore
                    fewer
                    emissions. Taking a carpool ride is also a safe way to travel in the current times. Because
                    there are only a few people in a car, you have fewer points of contact and there’s less risk
                    than other travel options. </p>
            </div>

            <div class="carousel-item">
                <h5 class="testimonial-text">How much does a carpool ride cost? </h5>
                <p>The costs of a carpool ride can vary greatly, and depend on factors like distance, time of
                    departure, the demand of that ride and more. It is also up to the driver to decide how much
                    to
                    charge per seat, so it’s hard to put an exact price tag on a ride.</p>
            </div>

            <div class="carousel-item">
                <h5 class="testimonial-text">How do I start carpooling?</h5>
                <p>Carpooling with CarSharing is super easy, and free! Simply sign up for an account and tell us
                    some
                    basic details about yourself. Once you have a CarSharing account, you can start booking or
                    publishing rides directly on our app or website. </p>
            </div>

        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon carouselIcon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon carouselIcon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>




</section>
{% endblock content %}