html body {
  font-family: 'Merriweather', serif;
}

.bg-image{
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

#checkit {
  margin-right: 5px;
}

.text-divider {
  margin: 2em 0;
  line-height: 0;
  text-align: center;
}
.text-divider span {
  background-color: #fff;
  padding: 1em;
}
.text-divider:before {
  content: " ";
  display: block;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #f7f7f7;
}
