html body {
  text-align: center;
  overflow-x: hidden;
  font-family: "Merriweather", serif;
}

body h3 {
  font-family: "Montserrat", sans-serif;
}

/* Top Section */

body{
  background-color: #4169e1;
}
body #top-section {
  text-align: center;
}

#top-section {
  background-color: #4169e1;
}

.top-container {
  padding-bottom: 8%;
  padding-right: 0;
  padding-top: 0;
}

/* .navbar-brand {
  color: #fff;
  font-weight: bold;
  margin-left: 25px;
} */

/*.navbar {
  background-color: #191970;
  z-index: 1;
}

.nav-icon {
  padding-right: 5px;
}

.navbar .dropdown-menu {
  background-color: aliceblue;
}

.dropdown-menu a:hover {
  background-color: #778899;
} */

#frontheading {
  margin: 40px auto 40px;
  color: #f5fffa;
  padding-top: 50px;
}

.front-section {
  padding: 3% 15% 10%;
}

.front-section h1 {
  font-family: "Ubuntu", sans-serif;
}

.titleimage {
  width: 100%;
  border-radius: 10px 10px;
  position: relative;
  padding: auto 50%;
  left: 50px;
  transform: rotate(25deg);
  position: absolute;
}

/* ChodeRide */

#choseRide {
  position: relative;
  padding: 5% 15%;
  text-align: center;
  margin: 2% auto;
  background-color: #e0ffff;
  margin: 0;
}

#choseRide .form-group {
  padding: 0%;
}

#choseRide .row {
  margin: auto;
}

#choseRide h3 {
  padding-top: 0;
  padding-bottom: 40px;
}

#choseRide .form-control {
  color: #6c757d;
}

.btn-search {
  background: #424242;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
  margin: 1% auto;
}

.btn-search:hover {
  background: #1e90ff;
}

/* Feature Section */
#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
  background-color: #48d1cc;
}

.feature-box {
  text-align: center;
}

.featureIcon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.featureIcon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: white;
  color: #fff;
}

#testimonials h2 {
  color: rgb(5, 71, 82);
  padding-top: 25px;
}

#testimonials h5 {
  color: rgb(5, 71, 82);
}

#testimonials p {
  color: rgb(112, 140, 145);
}

#testimonials a {
  color: rgb(112, 140, 145);
}

#testimonials .carouselIcon {
  background-color: rgb(112, 140, 145);
}

.carousel-item {
  padding: 7% 15%;
}

/* Footer Section */

#footer {
  padding: 50px 50px;
  text-align: center;
  background-color: #afeeee;
}

.social-icon {
  margin: 20px 10px;
  color: #ef8172;
}

.social-icon:hover {
  color: #ff4c68;
}

@media (max-width: 991px) {
  #frontheading {
    font-size: 1.5rem;
  }

  .titleimage {
    position: static;
    width: 50%;
    left: 0;
    transform: rotate(0);
  }
}

@media (min-width: 992px) {
  .titleimage {
    left: 50px;
  }
}
